@if ({ loading: isLoading$ | async }; as state) { @if (state.loading) {
<div class="fixed inset-0 z-[200] bg-white">
  <app-loading-overlay></app-loading-overlay>
</div>
}

<div [class.hidden]="state.loading" class="min-h-screen flex flex-col">
  <app-toast></app-toast>

  <div
    class="fixed inset-0 z-[100]"
    style="transition: visibility 0s linear"
    [style.visibility]="isCartOpen ? 'visible' : 'hidden'"
    [style.transition-delay]="isCartOpen ? '0s' : '0.3s'"
  >
    <div
      class="absolute inset-0 bg-black/20 backdrop-blur-sm transition-opacity duration-300 ease-in-out"
      [class.opacity-0]="!isCartOpen"
      [class.opacity-100]="isCartOpen"
      (click)="isCartOpen = false"
    ></div>

    <div class="absolute inset-y-0 right-0 z-[110]">
      <app-cart-drawer
        [isOpen]="isCartOpen"
        (close)="isCartOpen = false"
      ></app-cart-drawer>
    </div>
  </div>

  @if(showLayout){
  <app-header (toggleCart)="isCartOpen = true"></app-header>
  }

  <main class="relative z-0 flex-1">
    <router-outlet></router-outlet>
  </main>

  @if(showLayout){
  <app-footer></app-footer>
  }
</div>
}
